<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="css/facture3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
</head>

<body>

    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>Epikia</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="dashboard.html">
                        <span class="ti-home"></span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-face-smile"></span>
                        <span>Profil Pro</span>
                    </a>
                </li>
                <li>
                    <a href="facture3.html">
                        <span class="ti-agenda"></span>
                        <span>Facture</span>
                    </a>
                </li>
                <li>
                    <a href="abonnement.html">
                        <span class="ti-clipboard"></span>
                        <span>Abonnement</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    
    <div class="main-content">
      <div class="client">

                <h2>Client</h2>
                <input type="text" nom="nom" placeholder="Nom"> 
                <input type="text" nom="prenom" placeholder="Prénom"> <br>
                <input type="text" nom="adresse" placeholder="N° et Rue">
                <input type="text" nom="adresse" placeholder="Ville"><br>
                <input type="text" nom="mail" placeholder="Mail"> 
                <input type="text" nom="tel" placeholder="Téléphone">
            </div>
    
              <br> <br> <br>

    <div class="container" ng-app="invoice">  
      <h2>Facture</h2>

        <section class="row" ng-controller="InvoiceController">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in invoice.items">
                <td><input type="text" ng-model="item.name" class="form-control" /></td>
                <td><input type="text" ng-model="item.description" class="form-control" /></td>
                <td><input type="number" ng-model="item.qty" class="form-control" /></td>
                <td><input type="number" ng-model="item.price" class="form-control" /></td>
                <td>{{item.qty * item.price}} €</td>
                <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Supprimer</button></td>
              </tr>
              <tr>
              <td><button type="button" class="btn btn-primary" ng-click="add()">Ajouter</button></td>
                <td></td>
                <td></td>
                <td>Total : </td>
                <td>{{total()}} €</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
</body>
<script>
var invoice = angular.module('invoice', []);
invoice.controller('InvoiceController', function($scope){
  $scope.invoice = {
    items: [{
      name: '',
      description: '',
      qty: 0,
      price: 0
    }]
  };
  $scope.add = function(){
    $scope.invoice.items.push({
      name: '',
      description: '',
      qty: 1,
      price: 0
    });
  },
    $scope.remove = function(index){
    $scope.invoice.items.splice(index, 1);
  },
    $scope.total = function(){
    var total = 0;
    angular.forEach($scope.invoice.items, function(item){
      total += item.qty * item.price;
    })
    return total;
  }
});
  
</script>

</html>